
html,
body{
    height: 100%;
}
.container{
    height: 100%;
    width: 100%;
}
.box,
.box2{
    width: 400px;
    height: 300px;
    margin:100px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    text-overflow: ellipsis;
}


.box2{
    left: 600px;
    background-color: #aaa;
}
